body {
  margin: 0;
  line-height: normal;
  font-size: 15px;
}

:root {
  /* fonts */
 --font-primary: 'Montserrat', sans-serif; 
  --font-secondary: 'Barlow Semi Condensed', sans-serif;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-lg: 18px;

  /* Colors */
  --color-black: #000;
}

body {
  font-family: var(--font-primary); /* Default: Barlow Semi Condensed */
}

h1, h2, h3, header {
  font-family: var(--font-secondary); /* Headings: Montserrat */
  font-size: 20px;
  font-weight: 600;
  pointer-events: none;
  margin-bottom: 10px;
}

header2 {
  font-family: var(--font-secondary); /* Headings: Montserrat */
  font-size: 18px;
  font-weight: 600;
  pointer-events: none;
}

strong {
  font-weight: 600;
}


html {
  scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  width: 20%;
  padding: 5px 0 2px 0;
  z-index: 12;
  /* background-color: #ebe3df; */
  /* left:0.5%; */
}
  
.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0.1px;
}
  
.menu ul li {
  display: flex; /* Use flexbox to align items vertically */
  align-items: center; /* Vertically center items within each list item */
}
  
.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  /* margin: 3px 5px; */

  padding: 5px 10px;
  position: relative;
  transition: all 0.3s ease;
}
  
.menu ul li a:hover {
  background-color: black;
  color: white;
}

.menu ul li img.vectorlines {
  top: 50%;
  /* transform: translateY(-50%); */
}
  
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 0.4%;
  z-index: 12;
  left:0%;
}
  
.contacts {
  position: relative;
  padding-left: 0.5%;
  text-align: left;
  text-decoration: none;
  color: black;
}

.contacts ul {
  display: inline-flex; /* Wrap content only */
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts ul li {
  display: inline-flex; /* Wrap content only */
  align-items: center; /* Vertically center items */
  margin-bottom: 10px; /* Add spacing between email and LinkedIn items */
}

.contacts ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 2px 8px 2px 2px;
  position: relative;
  transition: all 0.3s ease;
}

.contacts ul li:hover .icon {
  filter: invert(1); /* Invert icon color for contrast */
}

.contacts ul li:hover {
  background-color: black;
}

.contacts ul li:hover a {
  color: white;
}

.icon {
  /* top: 50%;  */
  margin-left: 0.1px;
  padding: 2px 5px 2px 8px;
  /* transform: translate(-50%, -50%);  */
}

.title {
  position: absolute;
  font-family: var(--font-sora);
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 30px; 
  letter-spacing: 2px; 
  line-height: 60px;
  text-align: left;
  width: 100%;
  height: 57px;
}


.name {
  left:0.5%;
  display: block;
} 

.nextproject {
  margin-left: auto;

}

.intro-main p {
  font-size: 16px;
  line-height: 1.6;
}


.logo {
  left: 50%; /* Move the menu's left edge to the center */
  transform: translateX(-50%); /* Adjust by 50% of the menu's width */

  display: flex; /* Align menu items horizontally */
  position: relative;
  justify-content: center;
  height: 120px; /* Adjust height if needed */
}

.logo img {
  max-width: 125px; /* Limit the size of the logo */
}