
  
  .landingpage {
    position: fixed;
    width: 23%; /* Set to one-third of the screen width */
    left: 0%;
    top: 0;
    height: 100vh;
    /* background-color: #ebe3df; */
  }

  .box-container {
    position: absolute;
    width: 100%; /* Set to one-third of the screen width */
    left: 50%;
    transform: translate(-50%, -50%); 
    top: 50%;
    height: 40%;
    /* z-index: 2; */
  }


  .mainpage {
    position: relative;
    width: 77%;
    left: 17%;
    top: 0;
    height: auto;
    display: inline-block;
    flex-direction: column;
    align-items: left; 
    z-index: 1;

  }


  .projectpage {
    scroll-snap-align: center;

    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 1;
  }

  .about
  {
    scroll-snap-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 1;
  }



  .projectimage {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 60%;
    left: 70%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    z-index: 1;
    background-color: #000;
    aspect-ratio: 16 / 9; /* Adjust as needed */

  }

  .projectimage img {
    width: 100%;
    height: 100%; /* Dynamically matches the height of the parent */
    object-fit: cover;
    object-position: center; /* Centers the image */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

  .vectorlineside {
    position:absolute;
    height: 35%;
  }

  .greeter {
    scroll-snap-align: center;
    position: relative;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 3;
    margin-top: 10px;
    /* background-color: #ebe3df; */
    margin-left:2%;
  }

  .greeter p{
    margin-bottom:0%;
    margin-top:1%;
    pointer-events: none;
  }


  .intro-text {
    margin-bottom: 5px;
    margin-top: -10px;
    font-size: 25px;
    pointer-events: none;
    /* margin-left: 25%; */
  }

  .project-list {
    list-style: none;
    padding-left: 0;
  }
  

  .head {
    position:absolute;
    top: 25%;
    left: 2%
  }

  .head p{
    font-size: 20px;
    pointer-events: none;

  }
  
  .project-title-images{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align projects to the left */
  }
  
  .project {
    display: block; /* Limit the clickable area to the content */
    transition: all 0.3s ease;
    /* z-index: 2; */
    padding: 10px 15px 15px 15px;
    margin:3px;
    margin-left: 7.5px;

  }
  .project a {
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    display: contents;
    position: relative;
    /* z-index: 2; */
   }
  
  .project:hover {
    background-color: black;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); */
    z-index: 5;
    box-shadow: 7px 7px 2px 1px rgba(100, 100, 100, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .project:hover a {
    color: white;
    z-index: 5;

  }

  .description p{
    font-size: 14px;
    margin-top: 5px;
    color: black;
    transition: opacity 0.3s ease; /* Smooth transition */
    margin-bottom: 0%;
  }

  /* Show description on hover */
  .project:hover .description p{
    color: white;
  }

  .introduction {
    position: absolute;
    width: 32%;
    /* left: 22.5%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 1;
    margin-left: 2%;
    
  }
  
  .introduction p{
    margin-top: 0%;
    margin-bottom: 10px;
    line-height: 23px;
    display:inline-block;
    pointer-events: none;

  }
  
  .vectorlineside {
    position: absolute;
    margin-left: 103%;
    z-index: 5;
  }

  
  .experience{
    position: absolute;
    width: 27%;
    left: 39%;
    transform: translate(0%, 1%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 1;
  }
  .experience li {
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 15px;
    pointer-events: none;

  }
  .experience p{
    margin-top: 0%;
    margin-bottom: 15px;
    line-height: 20px;
    pointer-events: none;

  }

  .award {
    position: absolute;
    width: 20%;
    left: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    z-index: 1;
    transform: translate(0%, 1%);

  }

  .award p {
    margin-top: 0%;
    margin-bottom: 15px;
    line-height: 20px;
    pointer-events: none;

  }

  .scrollnav {
    position: fixed;
    width: 15%;
    right: 1%;
    z-index: 20;
    top: 2%;
  }
  
  .scrollnav-content {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    text-align: right;
  }

  .scrollnav-content a{
    text-decoration: none;
    color: black;
  }
  

  .up {
    position: absolute;
    top: 0%;
    /* left:70%; */
    text-align: right; 
  }



  .down {
    position: absolute;
    text-align: right; 
    /* left:70%; */
    top: 90%;

  }
  
  .scroll {
    position: absolute;
    top: 50%;
    /* left:15%; */
    text-align: right; 
    pointer-events: none;


  }

  #scrollIndicator {
    opacity: 1;
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
  }

  .box {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* opacity: 0;
    transition: opacity 1s; */
  }

  .catbox {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
  }

  .scroll-info p {
    margin-top: 0;
  }
  .scroll-info {
    margin-top: 10px;
    display: flex; /* Align all items in a row */
    align-items: center; /* Vertically center items */
  }


  .scroll-hover-about, .scroll-hover-project {
    text-decoration: none;
    color: #000;
    padding: 1px 3px;
    margin-left: 20px;
  }
  
  .scroll-hover-about:hover {
    color: white;
    background-color: #000;
    padding: 1px 3px;
    box-shadow: 3px 3px 2px 1px rgba(100, 100, 100, 0.4);

  }
  .scroll-hover-project:hover {
    color: white;
    padding: 1px 3px;
    background-color: #000;
    box-shadow: 3px 3px 2px 1px rgba(100, 100, 100, 0.4);

  }

